@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main {
  width: 100%;
  text-align: center;
  min-height: 900px;
  vertical-align: middle;
  justify-content: center;
  background-color: #262626;
  /* background: linear-gradient(to bottom, rgba(216, 218, 247, 0.7), rgba(255, 255, 255, 0.7)) , url('tools-498202_1920.jpg'); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0 0 0;
}
.to-do-box {
  width: 500px;
  /* border-radius: 20px; */
  padding: 60px 0;
  margin: 0px auto;
  min-height: 600px;
  background-color: #a7a7a7;
  /* -webkit-box-shadow: 4px 6px 22px 6px #1d1d1d;
  box-shadow: 4px 6px 22px 6px #3f3f3f; */
  border-radius: 20px;
}
h3,
h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 26px;
  letter-spacing: -0.2px;
  word-spacing: 0.4px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  margin: 20px 0;
}
h1 {
  font-size: 35px;
}
.to-do-box input {
  border: none;
  height: 40px;
  font-size: 20px;
  padding: 0 20px;
  cursor: pointer;
}
.to-do-box li {
  font-size: 30px;
  color: #000;
  list-style: georgian outside url(13820695401618134417.svg);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 21px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: lowercase;
  margin-bottom: 5px;
  cursor: pointer;
}
input {
  font-size: 30px;
  color: #000;
  list-style: georgian outside url(13820695401618134417.svg);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 21px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: lowercase;
  margin-bottom: 5px;
  cursor: pointer;
}
#doAlready li {
  text-decoration: line-through;
  list-style: georgian outside url(5350595501618134418.svg);
  color: #262626;
}
#doAlready,
#toDo {
  text-align: left !important;
}
#toDo span {
  font-size: 20px;
}
#doAlready span {
  text-decoration: line-through;
  font-size: 20px;
  /* margin: 0 10px; */
}
.to-do-box input,
button {
  font-family: Verdana, Geneva, sans-serif;
  color: #262626;
  outline: none;
  cursor: pointer;
}
button,
#submit {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  font-family: Poppins;
  background-color: #000;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
button:hover,
#submit:hover {
  background-color: #fff;
  color: #000;
}
label {
  margin: 5px auto;

  display: flex;
  justify-content: space-between;
}
label {
  width: 60%;
  padding-bottom: 10px;
  text-align: right;
  border-bottom: 3px solid #262626;
}
.name {
  float: right;
  cursor: pointer;
}

i {
  float: left;
  margin-top: 2px;
  font-size: 24px;
  color: #be0000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
label i:hover {
  color: #000;
  transform: scale(1.2);
}

.btn-x {
  padding: 3px;
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
